<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>

    <main>
      <h2>ADS</h2>
      <section class="articles">
        <% ads.forEach( ad => { %>
        <article class="article">
          <h3><%= ad.name%></h3>
          <div class="image">
            <img src="/images/<%= ad.picture%>" />
          </div>
          <div class="info">
            <div class="price">
              <p>Precio: <%= ad.price%> €</p>
            </div>
            <div class="type">
              <p>Tipo: <%= ad.type%></p>
            </div>
          </div>
          <div class="tags">
            <small>Tags: <%= ad.tags%></small>
          </div>
        </article>
        <% }) %>
      </section>
    </main>

    <!--  <table>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Type</th>
        <th>Tags</th>
        <th>Picture</th>
      </tr>
      <% ads.forEach( ad => { %>
      <tr>
        <td><%= ad.name%></td>
        <td><%= ad.price%></td>
        <td><%= ad.type%></td>
        <td><%= ad.tags%></td>
        <td><img src="/images/<%= ad.picture%>" /></td>
      </tr>
      <% }) %>
    </table> -->
    <% if (ads.length === 0) { %>
    <p>No hay resultados con los parámetros de búsqueda especificados. Comprueba que:</p>
    <ul>
      <li>El valor de <i>Type</i> es <i>sell</i> o <i>buy</i></li>
      <li><i>tag</i> está entre los valores disponibles: <i><%= tagsAvailable %></i></li>
      <li>El formato de <i>price</i> es <i>'x'</i> o <i>'x-y'</i> o <i>'x-'</i> o <i>'-y'</i></li>
    </ul>
    <p>Si lo anterior es correcto, no hay resultados por los términos de búsqueda utilizados.</p>
    <% } %>

    <script>
      console.log('hola');
    </script>
  </body>
</html>
