<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>

    <main>
      <h2>ADS</h2>
      <section class="articles">
        <% ads.forEach( ad => { %>
        <article class="article">
          <h3><%= ad.name%></h3>
          <div class="image">
            <img src="/images/<%= ad.picture%>" />
          </div>
          <div class="info">
            <div class="price">
              <p><%=__('Price')%>: <%= ad.price%> €</p>
            </div>
            <div class="type">
              <p><%=__('Type')%>: <%= ad.type%></p>
            </div>
          </div>
          <div class="tags">
            <small><%=__('Tags')%>: <%= ad.tags%></small>
          </div>
        </article>
        <% }) %>
      </section>
    </main>

    <% if (ads.length === 0) { %>
    <p>
      <%=__('There are no results with the parameters provided. Make sure that:')%>
    </p>
    <ul>
      <li>
        <%=__('The value of ') %> <i>Type</i> <%=__('is ')%> <i>sell</i> <%=__('or')%>
        <i>buy</i>
      </li>
      <li>
        <i>tag</i> <%=__('value is between the ones available ')%> <i><%= tagsAvailable %></i>
      </li>
      <li>
        <%=__('The format of ')%> <i>price</i> <%=__('is ')%> <i>'x'</i> <%=__('or')%> o
        <i>'x-y'</i> <%=__('or')%> <i>'x-'</i> <%=__('or')%> o
        <i>'-y'</i>
      </li>
    </ul>
    <p>
      <%=__('If everithing is ok, there are no results with the search terms used ')%>
    </p>
    <% } %>
  </body>
</html>
