body {
  padding: 20px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  max-width: 1200px;
  margin: auto;
}

a {
  color: #00b7ff;
}

main {
  text-align: center;
  margin: auto;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.5rem;
}

.article {
  box-shadow: 2px 2px 2px 2px grey;
}

.image {
  max-width: 200px;
  margin: auto;
}

.image > img {
  width: 100%;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}

.tags {
  padding: 1rem;
}
